<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{title_no_spaces}}.com/blog3.html" />
    <meta property="og:image" content="http://{{title_no_spaces}}.com/images/ogblog3.png" />

    <title>Blog</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex,noarchive" />
    <link rel="stylesheet" type="text/css" media="all" href="styles/main.css" />
</head>
<body>
<div id="wrapper">
    <div id="wrapperinside">
        <div id="header">
            <div id="headerinside">
                <img src="Images/logo.png" alt="logo"  >
            </div>
        </div>
        <div id="navigation">
            <div id="navigationinside">
                <ul>
                    <li><a href="index.html"><span>Home</span></a></li>
                    <li><a href="about.html"><span>About</span></a></li>
                    <li class="current"><a href="blog.html"><span>Blog</span></a></li>
                    <li><a href="contact.html"><span>Contact</span></a></li>
                    <li><a href="privacy.html"><span>Privacy</span></a></li>
                </ul>
            </div>
        </div>
        <div id="main" class="homepage">
            <div id="maininside">
                <div id="backpagecontent">
                    <div id="staffPage">
                        <h2>Blog</h2>
                        <div class="entry">
                            <h3>{{article3_title}}</h3>
                            <div class="imagebox">
                                <div><img src="Images/{{blog3.jpg}}" width="175" height="200"/></div>
                            </div>
                            <p>{{article3}}</p>
                            <a id="back" href="blog.html">Back</a>
                        </div>


                    </div>
                    <div class="clearing"></div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="footerinside">
                {{title}}  -  &copy; 2015
            </div>
        </div>
    </div>
</div>
</body>
</html>