<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{title_no_spaces}}.com/contact.html" />
    <meta property="og:image" content="http://{{title_no_spaces}}.com/images/logo.png" />

        <title>Contact</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="noindex,noarchive" />
        <link rel="stylesheet" type="text/css" media="all" href="styles/main.css" />
    </head>
    <body>
        <div id="wrapper">
            <div id="wrapperinside">
                <div id="header">
                    <div id="headerinside">
						<img src="Images/logo.png" alt="logo"  >
                    </div>
                </div>
                <div id="navigation">
                    <div id="navigationinside">
                        <ul>
                            <li><a href="index.html"><span>Home</span></a></li>
                            <li><a href="about.html"><span>About</span></a></li>
                            <li><a href="blog.html"><span>Blog</span></a></li>
                            <li class="current"><a href="contact.html"><span>Contact</span></a></li>
                            <li><a href="privacy.html"><span>Privacy</span></a></li>
                        </ul>
                    </div>
                </div>
                <div id="main" class="homepage">
                    <div id="maininside">
						<div id="backpagecontent">
						    <div class="right">
							    <div><img src="Images/contact.jpg" /></div>
							</div>	
							<h2>Contact</h2>
							<p>{{contact}}</p>
							<br>
                            <form id="contactForm" action="#">
                                <div>
                                    <div class="wrapper">
                                        <label for="name"><span>Your Name:</span></label>
                                        <input id="name" type="text" class="input">
                                    </div>
                                    <div class="wrapper">
                                        <label for="email"><span>Your Email:</span></label>
                                        <input id="email" type="text" class="input" >
                                    </div>
                                    <div class="textarea_box">
                                        <label for="textarea"> <span>Message:</span></label>
                                       <textarea id="textarea" name="textarea" cols="18" rows="10"></textarea>
                                    </div>
                                    <a href="contact.html" onClick="return alert('Thank you for your message!')">Send</a>
                                    <br>
                                </div>
                            </form>
						</div>
						<div class="clearing"></div>
                    </div>
                </div>
				<div id="footer">
					<div id="footerinside">
						{{title}}  -  &copy; 2015
					</div>
				</div>
            </div>
        </div>
    </body>
</html>