<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta property="og:title" content="{{title}}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://{{title_no_spaces}}.com/index.html" />
        <meta property="og:image" content="http://{{title_no_spaces}}.com/images/logo.png" />

        <title>{{title}}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="noindex,noarchive" />
        <link rel="stylesheet" type="text/css" media="all" href="styles/main.css" />
    </head>
    <body>
        <div id="wrapper">
            <div id="wrapperinside">
                <div id="header">
                    <div id="headerinside">
						<img src="Images/logo.png" alt="logo">
                    </div>
                </div>
                <div id="navigation">
                    <div id="navigationinside">
                        <ul>
                            <li class="current"><a href="index.html"><span>Home</span></a></li>
                            <li><a href="about.html"><span>About</span></a></li>
                            <li><a href="blog.html"><span>Blog</span></a></li>
                            <li><a href="contact.html"><span>Contact</span></a></li>
                            <li><a href="privacy.html"><span>Privacy</span></a></li>
                        </ul>
                    </div>
                </div>
                <div id="main" class="homepage" style="background: #231F20;">
                    <div id="maininside">
						<div id="homepagetop1">
							<div class="homePage">
								<a href="about.html"><img src="Images/about.jpg" width="245" height="214" /></a>
								<br><br>
								<a href="about.html">About</a>
							</div>
						</div>
						<div id="homepagetop2">
							<div class="homePage">
								<a href="blog.html"><img src="Images/blog.jpg" width="245" height="214"/></a>
								<br><br>
								<a href="blog.html">Blog</a>
							</div>
						</div>
						<div id="homepagetop3">
							<div class="homePage">
								<a href="contact.html"><img src="Images/contact.jpg" width="245" height="214"/></a>
								<br><br>
								<a href="contact.html">Contact</a>
							</div>
						</div>
						<div class="clearing"></div>
                    </div>
                </div>
                <div id="footer">
                    <div id="footerinside">
						{{title}}  -  &copy; 2015
					</div>
                </div>
            </div>
        </div>
    </body>
</html>
