<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{title_no_spaces}}.com/privacy.html" />
    <meta property="og:image" content="http://{{title_no_spaces}}.com/images/logo.png" />

    <title>Privacy Policy</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex,noarchive" />
    <link rel="stylesheet" type="text/css" media="all" href="styles/main.css" />
</head>
<body>
<div id="wrapper">
    <div id="wrapperinside">
        <div id="header">
            <div id="headerinside">
                <img src="Images/logo.png" alt="logo"  >
            </div>
        </div>
        <div id="navigation">
            <div id="navigationinside">
                <ul>
                    <li><a href="index.html"><span>Home</span></a></li>
                    <li><a href="about.html"><span>About</span></a></li>
                    <li><a href="blog.html"><span>Blog</span></a></li>
                    <li><a href="contact.html"><span>Contact</span></a></li>
                    <li class="current"><a href="privacy.html"><span>Privacy</span></a></li>
                </ul>
            </div>
        </div>
        <div id="main" class="homepage">
            <div id="maininside">
                <div id="backpagecontent">
                    <div id="staffPage">
                        <h2>Privacy Policy</h2>
                        <div class="entry2">
                            <h3>Terms and Conditions</h3>
                            <p>At {{title}}, the privacy of our audience is extremely important to us. Like many other websites, {{title}} makes use of log files. The information contained in a log file includes Internet Protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referral/exit pages, and number of clicks-per-visitor. This data is used to analyze trends, administer the site, track user movement, and gather demographic information &ndash; so that we may offer our readers a more personalized experience.<br>
                                <br>
                                We do not sell, trade, or otherwise transfer your personally identifiable information to additional parties without your consent. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.<br>
                                <br>
                                Our third-party advertisers may use cookies for the purpose of delivering ad-related material to you, as our readers, based on your unique visits at {{title}}. Please note: {{title}} has neither access to, nor control over, the cookies used by our advertisers.<br>
                                <br>
                                Our third-party advertising network servers may make use of forms of technology as a means of delivering featured advertisement links from our site directly to your browsers. These tools may also measure the effectiveness of their advertisements and/or to personalize the advertising content displayed on {{title}} and other sites; again, we have no control over the way in which these tools or methods are utilized by our third-party advertisers.<br>
                                <br>
                                To comply with the requirements of the Children&rsquo;s Online Privacy Protection Act (COPPA), we do not collect any information from anyone under 13 years of age. All editorial and advertisement content featured on {{title}} is age-appropriate for individuals who are at least 13 years old; however, our target audience consists of adults between the ages of 21-55.<br>
                                <br>
                                By using our site, you consent to {{title}}&rsquo;s privacy policy</p>

                        </div>


                    </div>
                    <div class="clearing"></div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="footerinside">
                {{title}}  -  &copy; 2015
            </div>
        </div>
    </div>
</div>
</body>
</html>