<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta property="og:title" content="Instant Bulk" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://InstantBulk.com/about.html" />
	<meta property="og:image" content="http://InstantBulk.com/images/logo.png" />

<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="title" content="" />
<meta name="description" content="" />
	<meta name="robots" content="noindex,nofollow" />
<title>Instant Bulk - About</title>
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/inner.css" rel="stylesheet" type="text/css" />
<link href="css/color.css" rel="stylesheet" type="text/css" />
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script src="js/Franklin_Gothic_Book_400.font.js" type="text/javascript"></script>
<script type="text/javascript">
	 var browserName=navigator.appName; 
	 if (browserName=="Microsoft Internet Explorer")
	 {
	  Cufon.replace('h1') ('h2') ('h3') ('h4') ('h5') ('h6') 
	 }else{
	 Cufon.replace('h1') ('h2') ('h3') ('h4') ('h5') ('h6') ('#menu li a')
	 }
</script>
<!--[if lte IE 7]>
<link href="css/ie.css" rel="stylesheet" type="text/css" />
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('img, #top');
</script>
<![endif]--> 
<script type="text/javascript" src="js/menu-collapsed.js" ></script>
</head>

<body>

	<!-- BEGIN HEADER -->
	<div id="top_container">
		<div class="centercolumn">
			<div id="top">
				<div id="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
			</div><!-- end top -->
		</div><!-- end centercolumn -->
	</div><!-- end top container -->
	<!-- END HEADER -->
	
	<!-- BEGIN CONTENT -->
	<div id="content_container">
		<div class="centercolumn">
			<div id="content">
				<div id="content_left">
					<div id="navigation">
						<ul id="menu" class="collapsible">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="about.html">About</a>
							</li>
							<li>
								<a href="blog.html">Blog</a>
							</li>
							<li>
								<a href="contact.html">Contact</a>
							</li>
							<li>
								<a href="privacy.html">Privacy</a>
							</li>
						</ul>
						<div id="subscribe">
							<br>
							<h2><strong>Subscribe to our blog!</strong></h2>
							<input class="input" type="text" value="Enter your email here" onblur="if(this.value=='') this.value='Enter your email here'" onFocus="if(this.value =='Enter your email here' ) this.value=''" >
							<br>
							<a href="index.html" onClick="return alert('Thank you for subscribing!')">Subscribe</a>
						</div>
					</div><!-- end navigation -->
				</div><!-- end content left -->
				<div id="content_right">
					<div id="maincontent">
						<div id="maintext">
						<h1 class="title">About</h1>
						<img src="images/about.jpg" alt="" class="imgleft" /><h3>About Instant Bulk</h3>
							<p>Andrew <br>
								<br>
								I'm a&#160;food writer&#160;who, with zero past enthusiasm for anything athletic, was baited into powerlifting and discovered an affection for getting solid. <br>
								<br>
								On this site I chronicled my year-in addition to long experience of changing from a lounge chair adoring essayist with a propensity for macarons to a competitor, a record-holding powerlifter, with a honest take a gander at the snippets of wonderfulness, depression &mdash; and a ton of work &mdash; along the way.&#160; My powerlifting profession finished with a harm and surgery in winter 2012 yet the force I found didn't vanish when I hung up my weight belt. I'm on a journey for my next enterprise now.&#160; To locate another energy I'm adapting new games the world over &mdash; attempting rock moving in Vietnam, white water kayaking in Oregon, and Muay Thai in Bangkok among others. <br>
								<br>
								Questions about my experience? (On the other hand how to make the ideal macaron?) Email me. You can likewise discover me on my training.</p>
						</div><!-- end maintext -->
					</div><!-- end maincontent -->
				</div><!-- end content right -->
				<div class="clr"></div><!-- clear float left -->
			</div><!-- end content -->
		</div><!-- end centercolumn -->
	</div><!-- end content container -->
	<!-- END CONTENT -->

	<!-- BEGIN FOOTER -->
	<div id="footer_container">
		<div class="centercolumn">
			<div id="foot">Copyright &copy;2010 <a href="about.html">Instant Bulk</a>. All rights reserved. </div>
			<!-- end foot -->
		</div><!-- end centercolumn -->
	</div><!-- end bottom container -->
	<!-- END FOOTER -->
	
</body>
</html>
