<!DOCTYPE html>
<html  prefix="og: http://ogp.me/ns#" lang="en">
<head>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{title_no_spaces}}.com/blog1.html" />
    <meta property="og:image" content="http://{{title_no_spaces}}.com/images/ogblog1.jpg" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,noarchive" />

    <title>{{title}}</title>
    <meta name="description" content="">

    <!-- START: styles -->
    <link href='https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="assets/flatness/bootstrap/css/bootstrap.min.css" id="css-flatness-bootstrap" />
    <link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/ionicons/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/slick.js/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/slick.js/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="assets/flatness/css/flatness.min.css" id="css-flatness" />
    <link rel="stylesheet" type="text/css" href="assets/flatness/css/flatness.css" />
    <!-- END: styles -->

    <script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>
</head>

<!--
    Available classes:
    navbar-fixed     - fixed navbar on top screen
    navbar-small     - small navbar height
    navbar-collapsed - collapsed navbar to burger
-->

<body data-offset="100">

    <!-- START: preloader -->
    <div class="page-preloader">
        <div class="wrap">
            <div class="shadow"></div>
            <div class="box"></div>
        </div>
    </div>
    <!-- END: preloader -->

    <!-- START: navbar -->
    <nav class="navbar navbar-flatness">
        <div id="navbar" class="navbar-collapse collapse navbar-table">
            <ul class="nav navbar-nav navbar-cell-left">
                <li class="dropdown dropdown-hover">
                    <a href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>

                </li>
                <li class="dropdown dropdown-hover">
                    <a href="about.html" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-cell">
                <li>
                    <a class="navbar-brand" href="index.html">

                        <img src="images/logo.png"  >
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-cell-right">
                <li class="dropdown dropdown-hover ">
                    <a href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
                </li>
                <li class="dropdown dropdown-hover ">
                    <a href="privacy.html" role="button" aria-haspopup="true" aria-expanded="false">Privacy</a>
                </li>
            </ul>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </nav>
    <!-- END: navbar -->

    <section class="container view">
        <div class="row">
            <div class="col-md-8">
                <!-- START: post with dropcat -->
                <div class="post post-default post-dropcat">
                    <div class="post-img">
                        <a class="hover-effect-1 img-rounded" href="#">
                            <img src="images/yoga.jpg" alt="">
                        </a>
                    </div>
                    <h1 class="post-title display-1">

                    <a href="#">{{article1_title}}</a>

                </h1>
                    <div class="post-meta post-meta-top">
                        <a href="#" class="post-category">Self</a>
                        <span class="separator">-</span>
                        <a href="#" class="post-author">{{writer}}</a>
                        <span class="separator">-</span>
                        <a href="#" class="post-date">15th Oct 2015</a>
                    </div>
                    <div class="post-divider">
                        <img src="images/divider-light.png">
                    </div>
                    <div class="post-entire">
                        <p>{{article1}}</p>
                    </div>
                    <div class="widget" id="action">
                        <form action="blog1.html" method="POST" role="form" class="flatness-form" data-toggle="validator">
                            <h2 class="form-title">{{action}}</h2>
                            <div class="form-group row">
                                <div class="form-group col-sm-6">
                                    <input type="email" name="email" class="form-control newsletter"  placeholder="Email" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default btn-block">Subscribe</button>
                        </form>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <!-- END: post with dropcat -->

                <!-- START: related posts -->
                <div class="post-related">
                    <div class="row vertical-gutter">
                        <div class="col-md-6">
                            <div class="post post-thumbnail">
                                <div class="post-img">
                                    <a class="hover-effect-1 img-rounded" href="blog3.html">
                                        <img src="images/food.jpg" alt="">
                                    </a>
                                </div>
                                <h2 class="post-title display-4"><a href="blog3.html">{{article3_title}}</a></h2>
                                <div class="post-meta post-meta-top">
                                    <a href="#" class="post-author">{{writer}}</a>
                                    <span class="separator">-</span>
                                    <a href="#" class="post-date">1st Nov 2015</a>
                                </div>
                                <div class="clearfix pb-10"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post post-thumbnail">
                                <div class="post-img">
                                    <a class="hover-effect-1 img-rounded" href="blog2.html">
                                        <img src="images/stretch.jpg" alt="">
                                    </a>
                                </div>
                                <h2 class="post-title display-4"><a href="blog2.html">{{article2_title}}</a></h2>
                                <div class="post-meta post-meta-top">
                                    <a href="#" class="post-author">{{writer}}</a>
                                    <span class="separator">-</span>
                                    <a href="#" class="post-date">25th Oct 2015</a>
                                </div>
                                <div class="clearfix pb-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: related posts -->

                <!-- START: post comments -->
                <div class="post-comments-block" id="comments">
                    <h2 class="display-2 mt-10 text-center">Comments</h2>
                    <h2 class="display-2 mt-50 text-center">Write a Comment</h2>
                    <form action="blog1.html" role="form" class="flatness-form post-comments-form" data-toggle="validator">
                        <div class="form-group row">
                            <div class="form-group col-sm-6">
                                <input type="text" name="name" class="form-control" id="formName" placeholder="Name" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="email" name="email" class="form-control" id="formEmail" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="comment" id="formComment" placeholder="Comment" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <!-- END: post comments form -->
                </div>
                <!-- END: post comments -->
            </div>
            <div class="col-md-4">
                <div class="flatness-sticky-sidebar">
                    <div class="widget">
                        <form action="blog1.html" method="POST" role="form" class="flatness-form" data-toggle="validator">
                            <h2 class="form-title">Newsletter</h2>
                            <div class="form-group row">
                                <div class="form-group col-sm-6">
                                    <input type="email" name="email" class="form-control newsletter"  placeholder="Email" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default btn-block">Subscribe</button>
                        </form>
                    </div>
                    <!-- START: About me widget -->
                    <div class="widget">
                        <h4 class="display-4 widget-title">About</h4>
                        <a href="about.html" class="hover-effect-1 img-circle mw-200 mauto">
                            <img src="images/about.jpg" alt="">
                        </a>
                        <p class="mb-0 text-center">
                            {{about_preview}} <br> <a href="about.html">more</a>
                        </p>
                    </div>
                    <!-- END: About me widget -->

                    <!-- START: Social networking widget -->
                    <div class="widget">
                        <h4 class="display-4 widget-title">Social Networking</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="http://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- END: Social networking widget -->

                    <!-- START: Popular posts widget -->
                    <div class="widget">
                        <h4 class="display-4 widget-title">Popular Posts</h4>

                        <div class="media">
                            <div class="media-left">
                                <a class="hover-effect-1 img-rounded w-120" href="#">
                                    <img src="images/food.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body post">
                                <h3 class="post-title display-6"><a href="blog3.html">{{article3_title}}</a></h3>
                                <div class="post-date post-meta"><a href="#">1st Nov 2015</a>
                                </div>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <a class="hover-effect-1 img-rounded w-120" href="#">
                                    <img src="images/stretch.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body post">
                                <h3 class="post-title display-6"><a href="blog2.html">{{article2_title}}</a></h3>
                                <div class="post-date post-meta"><a href="#">25th Oct 2015</a>
                                </div>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <a class="hover-effect-1 img-rounded w-120" href="#">
                                    <img src="images/yoga.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body post">
                                <h3 class="post-title display-6"><a href="blog1.html">{{article1_title}}</a></h3>
                                <div class="post-date post-meta"><a href="#">15th Oct 2015</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END: Popular posts widget -->

                    <!-- START: Tags widget -->

                    <!-- END: Tags widget -->
                </div>
            </div>
        </div>
    </section>

    <!-- START: footer social -->
    <section class="footer-social inverted">
        <div class="container">
            <ul class="social-icons">
                <li>
                    <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
                </li>
                <li>
                    <a href="http://youtube.com" target="_blank"><i class="fa fa-youtube"></i> Youtube</a>
                </li>
                <li>
                    <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                <li>
                    <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i> Pinterest</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- END: footer social -->

    <!-- START: footer instagram -->
    <!-- END: footer instagram -->

    <!-- START: footer menu -->
    <section class="inverted footer-menu">
        <div class="container">
            <a class="footer-brand" href="index.html">

                 <img src="images/logo.png">
            </a>
            <ul class="nav">
                <li><a href="about.html">About Me</a>
                </li>
                <li class="separator">/</li>
                <li><a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>

        <div class="scroll-top">
            <i class="fa fa-angle-up"></i>
        </div>
    </section>
    <!-- END: footer menu -->

    <!-- START: footer -->
    <footer class="footer">
        <div class="container">
            <div class="col-sm-12 text-center">
                <em>All Rights Reserved &copy; <a href="privacy.html">Privacy</a></em>
            </div>
        </div>
    </footer>
    <!-- END: footer -->


    <!-- START: facebook API -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            if(location.protocol === 'file:') {
                return;
            }
        
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- END: facebook API -->

    <!-- START: scripts -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="assets/flatness/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/slick.js/slick/slick.min.js"></script>
    <script type="text/javascript" src="bower_components/theia-sticky-sidebar/js/theia-sticky-sidebar.js"></script>
    <script type="text/javascript" src="assets/flatness/js/flatness.min.js"></script>
    <!-- END: scripts -->

    <!-- START: init flatness -->
    <script>
        if(typeof flatness !== 'undefined') {
            flatness.init({
                stickySidebar:    true,  // enable sticky sidebar
                navbarMax:        200,   // max height of navbar
                navbarMin:        100    // min height of navbar
            });
        }
    </script>
    <!-- END: init flatness -->

</body>

</html>