<!doctype html>
<html prefix="og: http://ogp.me/ns#" class="no-js" lang="en">
<head>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{title_no_spaces}}.com/blog1.html" />
    <meta property="og:image" content="http://{{title_no_spaces}}.com/images/ogblog1.png" />
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Specific Meta
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="robots" content="noindex,nofollow,noarchive" />

        <!-- Titles
        ================================================== -->
        <title>{{title}}</title>

        <!-- Custom Font
        ================================================== -->
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic%7CLato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="fonts/font-awsome/css/font-awesome.min.css">
        <link rel="stylesheet" href="fonts/glimmer/glimmer-shape.css">

        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/magnific-popup/magnific-popup.css">
        <link rel="stylesheet" href="lib/justifiedgallery/justifiedGallery.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="colors/color-schemer.css">

        <!-- Modernizr
        ================================================== -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>

    <body class="single single-post">
        <!-- Header
        ================================================== -->
        <header id="masthead" class="site-header">
           <!-- Header Top Part -->
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        <div class="header-search">

                        </div> <!-- /.header-search -->

                        <div class="header-social">
                            <a target="_blank" href="http://facebook.com"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="http://twitter.com"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="http://pinterest.com"><i class="fa fa-pinterest-p"></i></a>
                            <a target="_blank" href="http://instagram.com"><span class="fa fa-instagram"></span></a>
                        </div> <!-- /.top-social -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /#header-top -->
            
            <!-- Header Middle Part-->
            <div id="header-middle">
                <div class="container">
                    <div class="row">
                        <!-- Navigation Left -->
                        <nav id="nav-left" class="site-navigation top-navigation">
                            <div class="menu-wrapper">
                                <div class="menu-content">
                                    <ul class="menu-list">
                                        <li><a href="index.html" class="active">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="privacy.html">Privacy</a></li>
                                    </ul>
                                </div>
                            </div> <!-- /.menu-wrapper --> 
                        </nav> <!-- /#nav-left -->

                        <!-- Site Logo -->
                        <div id="site-logo">
                            <a href="index.html" class="site-logo">
                                <img alt="logo" src="images/logo.png">
                            </a> 
                        </div> <!-- /#site-logo -->

                        <!-- Navigation Right -->

                    </div> <!-- /.row -->
                </div> <!-- /.container --> 
            </div> <!-- /#header-middle -->

            <!-- Mobile Menu -->
            <div class="menucontent overlapblackbg"></div>
            <div class="menuexpandermain slideRight">
                <a id="navToggle" class="animated-arrow slideLeft"><span></span></a>
                <span id="menu-marker">Menu</span>
            </div>

            <div id="mobile-menu">
                <nav class="top-menu slideLeft clearfix">
                    <div class="menu-wrapper">
                        <div class="container">
                            <div class="row" id="mobile-menu-wrap"></div>
                        </div>               
                    </div> <!-- /.menu-wrapper -->
                </nav> <!-- /.menu  -->
            </div> <!-- /.#mobile menu -->
        </header> <!-- /.site-header -->

        <!-- Content
        ================================================== -->
        <div id="content" class="site-content">

            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <!-- Content Area -->
                        <div id="primary" class="content-area">
                            <main id="main" class="site-main">
                                <article class="post hentry">
                                    <figure class="post-thumb">
                                        <a href="#"><img src="images/blog1.jpg" class="img-responsive featuredPhoto" alt="travel-one"></a>
                                    </figure> <!-- /.post-thumb -->

                                    <header class="entry-header">
                                        <div class="post-format">
                                            <i class="fa fa-image"></i>
                                        </div>
                                        <h2 class="entry-title"><a href="" rel="bookmark">{{article1_title}}</a></h2>
                                        <div class="entry-meta">
                                            <span class="cat-links">

                                            </span>
                                            <span class="devider">/</span>
                                            <span class="entry-date">April 14, 2015</span>
                                            <span class="devider">/</span>
                                            <span class="byline">
                                                <span class="author vcard">
                                                    By: <a rel="author" href="#">{{writer}}</a>
                                                </span>
                                            </span>
                                        </div> <!-- .entry-meta -->
                                    </header> <!-- /.entry-header -->

                                    <div class="entry-content">
                                        <span class="screen-reader-text"></span>
                                        <p>{{article1}}</p>
                                        <div class="tag clearfix">
                                            <span>Tagged In:</span>

                                        </div> <!-- /.tag -->
                                    </div> <!-- .entry-content -->

                                    <div class="newsletter-area action">
                                        <p id="actionElement">{{action}}</p>
                                        <div class="form-newsletter">
                                            <form id="newsletter-form" name="newsletter-form" method="post" action="http://softhopper.us11.list-manage.com/subscribe/post?u=559ff170eee6949a359c40740&amp;id=fbbd18e68b">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>
                                                            <input type='text' name='FNAME' id='fullname' class="form-controller"  aria-required="true" placeholder="Your Name" value="">
                                                        </p>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <p>
                                                            <input type='email' name='EMAIL' id='email' class="form-controller"  aria-required="true" placeholder="Your Email" value="">
                                                        </p>
                                                    </div>
                                                    <div class="col-md-12 text-center">
                                                        <button type="submit"  value="Subscribe" id="mc-embedded-subscribe" class="mail-chip-button">Subscribe Us</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- /.form-newsletter -->
                                    </div> <!-- /.newsletter-area -->

                                    <footer class="entry-footer clearfix">                          
                                        <div class="footer-meta clearfix">  
                                            <div class="post-comment">
                                                <a href="#" class="comments-link">
                                                    <span>55 Comments</span>
                                                </a>
                                            </div>
                                            <div class="share-area">
                                                <div> 
                                                    <a href="http://twitter.com"><span class="fa fa-twitter"></span></a>
                                                    <a href="http://facebook.com"><span class="fa fa-facebook"></span></a>

                                                    <a href="http://instagram.com"><span class="fa fa-instagram"></span></a>

                                                </div>
                                            </div> <!-- /.share-area -->
                                            <div class="post-view">
                                                <a href="#" class="view-link">
                                                    <span>97 Views</span>
                                                </a>
                                            </div>
                                        </div> <!-- /.footer-meta -->
                                    </footer> <!-- .entry-footer -->
                                </article> <!-- /.post-->

                                <!-- author-info -->
                                <div class="author-info clearfix">
                                    <div id="author-img">
                                        <figure class="at-img">
                                            <img src="images/about.jpg" alt="">
                                        </figure>
                                        <h3 class="author-name">{{title}}</h3>
                                    </div> <!-- /#author-img -->
                                    
                                    <div id="author-details">
                                        <div class="authors-bio">
                                            <p>{{about_preview}}</p>
                                        </div>
                                        <footer id="author-meta" class="clearfix">


                                            <div class="authors-social">
                                                <b>Follow Me</b>

                                                <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
                                                <a href="http://facebook.com"><i class="fa fa-facebook"></i></a>

                                                <a href="http://pinterest.com"><i class="fa fa-pinterest-p"></i></a>
                                            </div> 
                                        </footer>  <!-- /#author-meta --> 
                                    </div> <!-- /#author-details -->               
                                </div> <!-- /.author-info -->


                                <nav class="post-navigation clearfix">
                                    <div class="post-previous">
                                        <a rel="prev" href="">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </div>
                                    <div class="post-next">
                                        <a rel="prev" href="">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </div>       
                                </nav> <!-- /.post-navigation -->

                                <!-- author-info -->
                                <div class="related-post clearfix">
                                    <h3 class="related-post-title"><span>Related Post</span></h3>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="related-post-item">
                                                <div class="post-media">
                                                    <div class="image-wrap">
                                                        <a rel="bookmark" href="blog3.html">
                                                            <img alt="related-one" src="images/blog3.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <div class="entry-date">September 15, 2015</div>
                                                    <h2 class="entry-title"><a href="blog3.html" rel="bookmark">{{article3_title}}</a></h2>
                                                </div>
                                            </div> <!-- /.related-post-item -->  
                                        </div> <!-- /.col-md-4 -->

                                        <div class="col-md-4 col-sm-6">
                                            <div class="related-post-item">
                                                <div class="post-media">
                                                    <div class="image-wrap">
                                                        <a rel="bookmark" href="blog2.html">
                                                            <img alt="related two" src="images/blog2.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <div class="entry-date">October 14, 2015</div>
                                                    <h2 class="entry-title"><a href="blog2.html" rel="bookmark">{{article2_title}}</a></h2>
                                                </div>
                                            </div> <!-- /.related-post-item -->  
                                        </div> <!-- /.col-md-4 --> 

                                        <div class="col-md-4 col-sm-6">
                                            <div class="related-post-item">
                                                <div class="post-media">
                                                    <div class="image-wrap">
                                                        <a rel="bookmark" href="blog1.html">
                                                            <img alt="related three" src="images/blog1.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <div class="entry-date">November 14, 2015</div>
                                                    <h2 class="entry-title"><a href="blog1.html" rel="bookmark">{{article1_title}}</a></h2>
                                                </div>
                                            </div> <!-- /.related-post-item -->  
                                        </div> <!-- /.col-md-4 -->    
                                    </div> <!-- /.row -->    
                                </div> <!-- /.related-post -->

                                <!-- comment-area -->
                                <div class="comments-area" id="comments">

                                    <h2 class="comments-title">
                                        <span>0 Comments</span>
                                    </h2>

                                    <ol class="comment-list">
                                    </ol><!-- .comment-list -->

                                    <div class="comment-respond" id="respond">
                                        <h3 class="comment-reply-title"><span>Leave a Reply</span></h3>
                        
                                        <form name="contactForm" id='contact_form' method="post" action="blog1.html">
                                            <div class="row">
                                                <div class="col-md-6 pd-right">
                                                    <p>
                                                        <input type='text' name='name' id='name' class="form-controller"  aria-required="true" placeholder="Name*">
                                                    </p>
                                                </div>
                                                <div class="col-md-6 pd-left">
                                                    <p>
                                                        <input type='text' name='email' id='email-comments' class="form-controller"  aria-required="true" placeholder="Email*">
                                                    </p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p>
                                                        <input type='text' name='url' id='url' class="form-controller"  aria-required="true" placeholder="Website*">
                                                    </p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p>
                                                        <textarea name='message' id='message' class="form-controller" aria-required="true" rows="8" cols="45" placeholder="Write a Comment...."></textarea>
                                                    </p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p class="form-submit">
                                                        <input type="submit" value="Post Comment" id="submit2" name="submits">
                                                    </p>
                                                </div>
                                            </div>
                                        </form>         
                                                        
                                    </div><!-- #respond -->      
                                </div> <!-- /.comment's area -->
                            </main> <!-- #main -->
                        </div> <!-- #primary -->
                    </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
            
        </div><!-- #content -->

        <!-- Footer
        ================================================== --> 
        <footer id="colophon" class="site-footer">
            <div id="footer-bottom">
                <div class="container">
                    <div class="copyright">
                        <p>Copyright&copy; 2015 {{title}}. All right reserved. <a href="privacy.html">Privacy Policy</a></p>
                    </div> <!-- /.copyright -->
                </div> <!-- /.container -->
            </div> <!-- /#footer-bottom -->

        </footer><!-- #colophon -->

        <!-- All The JS Files
        ================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!-- jQuery -->
        <script src="js/vendor/jquery-migrate.min.js"></script> <!-- jQuery-migrate -->
        <script src="lib/bootstrap/js/bootstrap.min.js"></script> <!-- Bootstrap -->
        <script src="js/owl.carousel.min.js"></script> <!-- Owl-carousel -->
        <script src="lib/magnific-popup/jquery.magnific-popup.min.js"></script> <!-- Magnific-popup JS -->
        <script src="lib/justifiedgallery/jquery.justifiedGallery.min.js"></script> <!-- Justified gallery JS -->
        <script src="js/plugins.js"></script> <!-- Plugins JS -->
        <script src="js/glimmer.js"></script> <!-- glimmer script -->
    </body>
</html>