<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{title_no_spaces}}.com/privacy.html" />
    <meta property="og:image" content="http://{{title_no_spaces}}.com/images/logo.png" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />
    <meta name="robots" content="noindex,noarchive" />

<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.7a-min.js""></script><script>DD_belatedPNG.fix('.png, .btn');</script>
<![endif]-->

<title>{{title}} | Privacy</title>

</head>
<body>
<div id="smallheader">						<!-- Start of Header Part !-->
    <div class="wrapper">

        <div id="logo">
            <img src="images/logo.png" alt="your name" class="png"/>
        </div>

    </div>
</div>											<!-- End of Header Part !-->

<div id="contentpart">							<!-- Start of Content Part !-->
	<div class="wrapper">
        
        <ul class="menu">						<!-- This is the menu !-->
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="current"><a href="privacy.html">Privacy</a></li>
        </ul>  
        
        <div id="content">     
        
            <div id="main">						<!-- This is Main Content !-->
                <div class="title"><h1> Privacy Policy</h1>
                    <p>At {{title}}, the privacy of our audience is extremely important to us. Like many other websites, {{title}} makes use of log files. The information contained in a log file includes Internet Protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referral/exit pages, and number of clicks-per-visitor. This data is used to analyze trends, administer the site, track user movement, and gather demographic information – so that we may offer our readers a more personalized experience.</p>
                    <p>We do not sell, trade, or otherwise transfer your personally identifiable information to additional parties without your consent. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
                    <p>Our third-party advertisers may use cookies for the purpose of delivering ad-related material to you, as our readers, based on your unique visits {{title}}. Please note: {{title}} has neither access to, nor control over, the cookies used by our advertisers.</p>
                    <p>Our third-party advertising network servers may  make use of forms of technology as a means of delivering featured advertisement links from our site directly to your browsers. These tools may also measure the effectiveness of their advertisements and/or to personalize the advertising content displayed on {{title}} and other sites; again, we have no control over the way in which these tools or methods are utilized by our third-party advertisers.</p>
                    <p>To comply with the requirements of the Children’s Online Privacy Protection Act (COPPA), we do not collect any information from anyone under 13 years of age. All editorial and advertisement content featured on {{title}} is age-appropriate for individuals who are at least 13 years old; however, our target audience consists of adults between the ages of 21-55. </p>
                    <p>By using our site, you consent to {{title}}’s privacy policy.</p>
                
      	 	</div>									<!-- End of Main Content !-->						

         
        </div>
            
		<div style="clear:both;"></div>

        <br>
        <hr>
        <div id="bottom">

            <div class="left">
                <ul>
                    <li><a href="index.html">Home</a> | </li>
                    <li><a href="blog.html">Blog</a> | </li>
                    <li><a href="about.html">About</a> | </li>
                    <li><a href="privacy.html">Privacy</a> | </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li> &copy; 2015 {{title}}. </li>
                </ul>
            </div>
        </div>
        
	</div>
        </div>
</div>											<!-- End of Content Part !-->
</body>
</html>
